# Get your OpenAI API key at
#   https://platform.openai.com/account/api-keys
#
# If you don’t have an account yet,
#   sign up for free at https://platform.openai.com/signup

OPENAI_API_KEY=xxxxxxxx

#
# Twilio stuff
#

ACCOUNT_SID=ACxxxx
AUTH_TOKEN=xxxx